/* Card hover effect */
* {
  background-color: rgb(240, 181, 181);
}
.card {
  width: 200px;
  height: auto;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px black;
  transition: 0s;
}

.desc {
  padding: 0px 3px 0px 3px; /*top right bottom left */
}

img {
  width: 200px;
  border-radius: 5px 5px 0 0; /*left right*/
}

.card:hover {
  box-shadow: 2px 8px 20px black;
}
