/* for alpha alpha defines opacity for color*/
#box1 {
  height: 100px;
  width: 100px;
  background-color: rgba(89, 255, 0, 0.758); /*used to define opacity of color*/
  margin: 20px;
}

/*for opacity defines opacity for an element means the button and the any element that present inside it*/
#opacity {
  height: 100px;
  width: 100px;
  background-color: crimson;
  opacity: 0.5;
  margin: 20px;
}

/*Transition also have shorthand i.e property name,duration,time-function,delay*/
/* #box2 {
  height: 300px;
  width: 300px;
  background-color: red;
  transition-duration: 1s;
  transition-delay: 1s;
}

#box2:hover {
  background-color: black;
  border-radius: 50%;
} */

#box2 {
  height: 100px;
  width: 100px;
  background-color: chartreuse;
  margin: 0 auto;
  margin-top: 10px;
  transition: margin-top 2s ease-in 0.2s;
}

#box2:hover {
  margin-top: 400px;
  background-color: black;
}
